/* Light mode - default */
:root{
    font-family: Arial, Helvetica, sans-serif;
    --bg-color: rgb(244, 242, 234);
    --primary-color:rgb(255, 179, 25);
    --secondary-color:rgb(255, 225, 148);
    --accent-color:rgb(22, 65, 106);
    --text-focus-btn:rgb(106, 62, 22);
    --text-color-dark:rgb(19, 19, 19);
    --text-color-light:rgb(252, 252, 252);
}

/* Dark Mode */
:root[data-theme="dark"],
.dark {
    --bg-color: rgb(31, 34, 40);
    --primary-color: rgb(255, 179, 25);
    --secondary-color: rgb(248, 193, 97);
    --accent-color: rgb(48, 142, 239);
    --text-focus-btn:rgb(106, 62, 22);
    --text-color-dark:rgb(19, 19, 19);
    --text-color-light:rgb(252, 252, 252);
}

body{
    width: 90%;
    margin: 0 auto;
    max-width: 70em;
    color: var(--text-color-dark);
    background-color: var(--bg-color);
}

/* h1{

} */

 /* Navbar container */
.navbar {
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    background-color:var(--secondary-color);

}

/* Links inside the navbar */
.navbar a {
    float: left;
    text-decoration: none;
    color: var(--text-color-dark);
}

/* Set transparant border om button and link */
.navbar a, .dropdown .dropbtn{
    padding: 1em;
    border-width: 0.4em;
    border-style: none none solid none;
    border-color: transparent;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    background-color: inherit;
    font-family: inherit; 
    font-weight: inherit;
    font-size: inherit;
    margin: 0; 
    cursor: pointer;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    color: var(--text-focus-btn);
    border-style: none none solid none;
    border-color: var(--primary-color);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}